* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    background: rgb(183, 228, 207);

}
.contenidoFondo {
    background: rgb(110, 115, 192);
    width: 1550px;
    border: 1px solid black;

}


.header1 {
    background: lemonchiffon;
    border: 1px solid gray;
    padding: 20px;
}

.header1 h1 {
   
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}
.header1 h2 {
   
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}
.seccion1 {
    margin: 20px;
    width: 900px;
    float: left;
    text-align: left;
}
.piedepagina{
    height: 4px;
    background-color: black;
    border:black;
}


