* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    /* background: rgb(183, 228, 207); */

}

.contenidoFondo {
    background: rgb(47, 82, 179);
    border: 1px solid black;
    
}

.header1 h1 {

    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.header1 h2 {

    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.seccion1 {
    margin: 20px;
    width: 900px;
    float: left;
    text-align: left;
}

.piedepagina {
    
    clear: both;
    padding: 20px;
    background: darkslategray;
    color: chocolate;
}
.piedepagina hr{
    height: 1px;
    background-color: black;
    border:black;
}